<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>newHospital2</display-name>
  <welcome-file-list>
    <welcome-file>zhuzhan.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>Servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>queryAllDoctorservlet</display-name>
    <servlet-name>queryAllDoctorservlet</servlet-name>
    <servlet-class>Servlet.queryAllDoctorservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryAllDoctorservlet</servlet-name>
    <url-pattern>/queryAllDoctorservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GHServlet</display-name>
    <servlet-name>GHServlet</servlet-name>
    <servlet-class>Servlet.GHServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GHServlet</servlet-name>
    <url-pattern>/GHServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>zhuceServlet</display-name>
    <servlet-name>zhuceServlet</servlet-name>
    <servlet-class>Servlet.zhuceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>zhuceServlet</servlet-name>
    <url-pattern>/zhuceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>infoServlet</display-name>
    <servlet-name>infoServlet</servlet-name>
    <servlet-class>Servlet.infoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>infoServlet</servlet-name>
    <url-pattern>/infoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pwdServlet</display-name>
    <servlet-name>pwdServlet</servlet-name>
    <servlet-class>Servlet.pwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pwdServlet</servlet-name>
    <url-pattern>/pwdServlet</url-pattern>
  </servlet-mapping>
</web-app>